<div class="container">

    <app-button [buttonDisabled]="MyDisabledFlag" [value]="'secondary'" (buttonClicked)="helloButton()">pranav</app-button>
    <div class="row" style="margin-top: 50px;">
        <label>Username</label>
        <input style="margin-left: 20px;" class="inputBox" autocomplete="off" type="text" (input)="onInput()"
            [(ngModel)]="username">

    </div>
    <div class="row" style="margin-top: 10px;">
        <!-- interpolation -->
        <p>Data entered: {{ username }}</p> 
    </div>



    <div class="row" style="margin-top: 20px;">
        <label>Password</label>
        <input style="margin-left: 20px;" class="inputBox" autocomplete="off" (input)="onInput()" type="password" 
            [(ngModel)]="passwordVar">

    </div>
    <div class="row" style="margin-top: 10px;">
        <!-- interpolation -->
        <p>Data entered: {{ passwordVar }}</p> 
    </div>

    <div>
        <button [class.pranav-primary-disabled]="DisabledFlag" [class.pranav-primary]="!DisabledFlag" (click)="submitData(username, passwordVar)" [disabled]="DisabledFlag"> Submit</button>
       </div>


       <div class="row" style="margin-top: 10px;">
       <span *ngIf="showerror" style="color: red;"> Please Enter Correct Credentials</span>
    </div>

</div>